interactions:
- request:
    body: '{"name": "tessst", "gender": "male", "bornTime": "19940226T000000+0500",
      "city": "Tashkent", "faceURL": "https://i.ibb.co/P9rJSTQ/murod.jpg"}'
    headers:
    method: PUT
    uri: http://192.168.0.251/ISAPI/Intelligent/FDLib/FDSearch?format=json&FDID=1&FPID=4&faceLibType=blackFD
  response:
    body:
      string: "{\n\t\"requestURL\":\t\"/ISAPI/Intelligent/FDLib/FDSearch?format=json&FDID=1&FPID=4&faceLibType=blackFD\",\n\t\"statusCode\":\t1,\n\t\"statusString\":\t\"OK\",\n\t\"subStatusCode\":\t\"ok\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
